@media screen and (min-width: 1000px) {
  .basic-info-container {
    background-color: white;
    padding: 15px;
    min-height: 100px;
    max-height: 300px;

    .basic-info-content {
      h2 {
        margin: 10px;
      }
      ul {
        list-style-type: none;

        li {
          display: flex;
          list-style-type: none;
          align-items: center;
          margin: 10px 0 10px;

          span {
            display:block;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .basic-info-container {
    background-color: white;
    margin: 0 10px 0;
    min-height: 100px;
    max-height: 300px;

    .basic-info-content {
      h2 {
        margin: 0;
      }
      ul {
        list-style-type: none;

        li {
          display: flex;
          list-style-type: none;
          align-items: center;
          margin: 10px 0 10px;

          span {
            display:block;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
