.app-content {
  background-color: #F1EEED;
  padding: 20px;
}

.map-section {
  margin: 0 0 20px;
}

@media screen and (min-width: 1000px) {
  .map-section {
    margin: 0 10px 15px;
  }

  .columns {
    display: flex;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
    z-index: 0;
    margin: 10px;
  }

  .column-primary {
    width: 70%;
  }

  .column-secondary {
    background-color: #F1EEED;
    width: 30%;
  }
}

@media screen and (max-width: 1000px) {
  .map-section {
    margin: 15px 0 15px;
  }

  .columns {
    display: flex;
    flex-direction: column;
    background-color: #F1EEED;
  }

  .column-primary {
    background-color: white;
    margin: 15px 0 15px;
  }

  .column-secondary {
    background-color: white;
  }
}
