@media screen and (min-width: 1000px) {
  .columns {
    display: flex;
    padding: 20px;
    background-color: #F1EEED;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
    z-index: 0;
  }

  .column-primary {
    background-color: #F1EEED;
    width: 70%;
  }

  .column-secondary {
    background-color: #F1EEED;
    width: 30%;
  }
}

@media screen and (max-width: 1000px) {
  .columns {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F1EEED;
    padding: 20px;
  }

  .column-primary {
    margin: 10px;
    padding: 20px;
    background-color: white;
  }

  .column-secondary {
    margin: 10px;
    padding: 20px;
    background-color: white;
  }
}
