.home-container {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: white;
  width: 100%;
}

.portrait-container {
  margin:10px;
  border: 4px solid #565656;
  border-radius: 50%;
  overflow: hidden;
  width:200px;
  height:200px;

  img {
    width:100%;
    height:100%;
  }
}

.links-container {
  display: flex;

  div {
    display: flex;
    justify-content: center;
    width:42px;
    height:42px;
    background-color: green;
    border-radius: 50%;
    align-items: baseline;
    margin-right: 15px;

    svg {
      color: white;
      margin: 8px;
    }
  }
}

.contact-button {
  margin-right: 100px;
  margin-left: auto;
  order: 2;
  border: 1px solid;
  float: right;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  font-size: 20px;

  svg {
    margin-right: 8px
  }
}
