@media screen and (min-width: 1000px) {
  .home-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    width: 100%;
  }

  .mail-link {
    margin-right: 100px;
    margin-left: auto;
    order: 2;

    .contact-button {
      text-decoration: none !important;
      float: right;
      border-radius: 5px;
      padding: 10px;
      align-items: center;
      justify-content: center;
      background-color: green;
      color: white;
      font-size: 20px;

      svg {
        margin-right: 8px
      }
    }
  }

  .portrait-container {
    position: relative;
    margin:10px;
    border: 4px solid #565656;
    border-radius: 50%;
    overflow: hidden;
    width: auto;
    max-width: 200px;
    height: auto;
    max-height: 200px;

    img {
      position: relative;
      width:100%;
      height:100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .home-container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  .general {
    text-align: center;
  }

  .links-container {
    justify-content: center;
  }

  .mail-link {
    .contact-button {
      text-decoration: none !important;
      border-radius: 5px;
      padding: 10px;
      margin: 20px;
      align-items: center;
      justify-content: center;
      background-color: green;
      color: white;
      font-size: 20px;

      svg {
        margin-right: 8px
      }
    }
  }

  .portrait-container {
    position: relative;
    margin:10px;
    border: 4px solid #565656;
    border-radius: 50%;
    overflow: hidden;
    width: auto;
    max-width: 200px;
    height: auto;
    max-height: 200px;
    z-index: -1;

    img {
      width:100%;
      height:100%;
    }
  }
}



.links-container {
  display: flex;

  div {
    display: flex;
    justify-content: center;
    width:42px;
    height:42px;
    background-color: green;
    border-radius: 50%;
    align-items: center;
    margin-right: 15px;

    svg {
      color: white;
      margin: 8px;
    }
  }
}
