.navbar {
  color: white;
  background-color: #282c34;
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar-item {
  padding: 20px;
  flex-grow: 5;
  cursor: pointer;
  outline: none;

  &.active {
    background-color: green;
  }

  &:hover {
    background-color: green;
  }
}
