.navbar {
  overflow: visible;   
  position: fixed;
  top: 0;
  display: flex;
  color: white;
  background-color: #282c34;
  width: 100%;
  height: auto;
  z-index: 100000;
  font-size: 18px;
}

.menu-btn {
  display: none;
}

@media screen and (min-width: 1000px) {
  .nav-items {
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 100%;

    .active {
      background-color: #545454;
      color: #8ade00;
    }

    .navbar-item {
      background-color: #282c34;
      flex-grow: 5;
      cursor: pointer;
      outline: none;
      padding: 13px 0 13px 0;

      &:hover {
        background-color: #545454;
      }
    }

    .navbar-item-experience {
      text-align: center;
      background-color: #282c34;
      flex-grow: 5;

      &.open {
        margin-top: 90px;
      }

      .experience-button {
        padding: 13px 0 13px 0;

        &:hover {
          background-color: #545454;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    color: white;
    background-color: #282c34;
    width: 100%;
    height: 50px;

    .nav-items {
      flex-direction: column;
      align-items: center;
      display: block;
      transition: height 2s;

      .active {
        background-color: #545454;
        color: #8ade00;
      }

      &.hidden {
        display: none;
      }

      .navbar-item {
        background-color: #282c34;
        cursor: pointer;
        outline: none;
        padding: 10px;
        text-align: center;

        &:hover {
          background-color: #545454;
        }
      }

      .navbar-item-experience {
        text-align: center;
        background-color: #282c34;
        flex-grow: 5;
  
        .experience-button {
          padding: 13px 0 12px 0;
  
          &:hover {
            background-color: #545454;
          }
        }
      }
    }

    .menu-btn {
      border: 1.5px solid #8ade00;;
      border-radius: 5px;
      display: block;
      text-align: center;
      align-items: center;
      cursor: pointer;
      outline: none;
      padding: 5px;
      width: 30px;
      height: 30px;
      margin: 5px 10px 0;

      svg {
        padding: 5px
      }

      &:hover {
        background-color: #545454;
      }
    }
  }
}
