.navbar {
  overflow: visible;   
  position: fixed;
  top: 0;
  display: flex;
  color: white;
  background-color: #282c34;
  width: 100%;
  max-height: 50px;
  z-index: 1000;
}

.menu-btn {
  display: none;
}

@media screen and (min-width: 1000px) {
  .nav-items {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;

    .navbar-item {
      background-color: #282c34;
      padding: 20px;
      flex-grow: 5;
      cursor: pointer;
      outline: none;

      &.active {
        color: green;
      }

      &:hover {
        background-color: #545454;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    color: white;
    background-color: #282c34;
    width: 100%;
    height: 50px;

    .nav-items {
      flex-direction: column;
      align-items: center;
      display: block;

      &.hidden {
        display: none;
      }

      .navbar-item {
        background-color: #282c34;
        cursor: pointer;
        outline: none;
        padding: 10px;
        text-align: center;

        &.active {
          color: green;
        }

        &:hover {
          background-color: #545454;
        }
      }
    }

    .menu-btn {
      border: 1px solid green;
      border-radius: 5px;
      display: block;
      text-align: center;
      align-items: center;
      cursor: pointer;
      outline: none;
      padding: 5px;
      width: 30px;
      height: 30px;
      margin: 5px 10px 0;

      svg {
        padding: 5px
      }

      &:hover {
        background-color: #545454;
      }
    }
  }
}
